<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if country %}
    <h1>
        This is it {{ country }} !
    </h1>
    {% else %}
    <h1>
        This is it {{ country }} !
    </h1>
    {% endif %}
    {{ results }}
    <ul>
        <!-- {% for product in products %}
        <li>{{product.title}} >> {{product.collection.title}}</li>
        {% endfor %} -->
        <!-- {% for order in customers %}
        {{order}}
        <li>{{order.id}} | {{order.last_name}} | {{order.new_id}}</li>
        {% endfor %} -->
    </ul>
</body>
</html>